PEXELS_API_KEY= "3b1uhY58DGGbx2WKPTdIvGLoVwOhPlNL27HTj3vTMlwqhHv0N2kRYbVO"
LOG_LEVEL=trace # trace, debug, info, warn, error, fatal, silent
WHISPER_VERBOSE=true
PORT=3123
DEV=true # local development mode
DATA_DIR_PATH= # only for docker, otherwise leave empty
